<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XDS_Subscriber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="XDS_Subscriber.Properties.Settings.XdsRegistry_XdsDataBaseConnectionString"
            connectionString="Data Source=SP-DL-IN\SQLEXPRESS;Initial Catalog=XdsRegistry.XdsDataBase;User ID=sdpillar"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <XDS_Subscriber.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>SP-DL-IN\SQLEXPRESS</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>XdsRegistry.XdsDataBase</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>sdpillar</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>!Linden.0605</value>
            </setting>
            <setting name="MirthInstance" serializeAs="String">
                <value>192.168.43.37</value>
            </setting>
            <setting name="SubscribePort" serializeAs="String">
                <value>8097</value>
            </setting>
            <setting name="UnsubscribePort" serializeAs="String">
                <value>8098</value>
            </setting>
            <setting name="CancerTypes" serializeAs="String">
                <value>All/Bowel/Lung/Chest/Brain/Liver</value>
            </setting>
            <setting name="HashCode" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="TermLength" serializeAs="String">
                <value>42</value>
            </setting>
        </XDS_Subscriber.Properties.Settings>
    </userSettings>
</configuration>